h1 {
  color:blue;
}

body {
  
  #open-planner {
    position: absolute;
    top:20px;
  }

  .card-header {
    padding: 1rem;
    background: #ebebeb;  
  }

  .card {
    border-style: solid;
    padding: 1rem;
  }
}

#map {
  height: 95vh;
  top: 60px;
  width: inherit;
  margin: 0px auto 0px auto;
  position: relative;
}

#map-background{
  position: absolute;
  width: 100vw;
  height: 95vh;
}

#root {
  margin-top: 5vh;
  height: 95vh;
}

.navbar {
  text-align: center;
  margin: auto;
  background: #23383f;
  border-bottom: 1px solid black;
  height: 5vh;
  left: 0;
  border-radius: 0px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: #dfdce5;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 5vh;
  line-height: 5vh;
  padding: 0 10px;
  text-decoration: none;
}